<div class="modal-overlay" (click)="closeModalAction()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h2>CRIE SUA CONTA GRATUITAMENTE</h2>
      <form>
        <input type="text" placeholder="NOME" required />
        <input type="email" placeholder="E-MAIL" required />
        <input type="password" placeholder="SENHA" required />
        <input type="password" placeholder="CONFIRME A SENHA" required />
        <button type="submit">CADASTRAR</button>
      </form>
    </div>
</div>
